
    <div class="row m-5">
        <div>
            <h1 style="text-shadow:0px 0px 20px black ;">
                Portfolio
            </h1>
        </div>
    </div>
    <div class="row justify-content-center" style="height: 300px;">
        <div class="col-3 bg-dark text-light  m-4 ">
            <div class="kalam">
                WEB DESIGN
            </div>
        </div>
        <div class="col-3 text-light m-4" style="background-color: rgb(97, 97, 97);">
            <div class="kalam">
                MOBILE DESIGN
            </div>
        </div>
        <div class="col-3 bg-dark text-light m-4" >
            <div class="kalam">
                LOGO DESIGN
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="height: 300px;">
        <div class="col-3  text-light m-4" style="background-color: rgb(97, 97, 97);">
            <div class="kalam">
                WEB APPLICATION DEVOLOPMEVT
            </div>
        </div>
        <div class="col-3 bg-dark text-light m-4">
            <div class="kalam">
                MOBILE APPLICATION DEVOLOPMEVT
            </div>
        </div>
        <div class="col-3  text-light m-4" style="background-color: rgb(97, 97, 97);">
            <div class="kalam">
                PWA DEVOLOPMEVT
            </div>
        </div>
    </div>
