<div
class="bg-image row align-items-center"
style="
    background-image: url('/imgs/marek-okon-L4h2cvheWuc-unsplash.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
"
>
            <div class="col">
                <h1 class="text-light m-4">Ahmed Mohamed</h1>
                <h3 class="text-light m-4">Web Developer</h3>
                <button class="btn btn-outline-light m-4">Contact me</button>
            </div>
</div>
