
<div class="row justify-content-around mt-5">
    <div class="col-3">
        <h1>About me</h1>
    </div>
    <div class="col-7">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quod, nostrum non esse,
        quis commodi officiis minima doloremque neque perferendis facere excepturi 
        voluptatem libero animi aut, nemo similique doloribus aliquam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a, delectus maxime ipsum voluptatibus
        sapiente. Enim ut maxime velit reiciendis animi cum laudantium necessitatibus quos vel, alias, 
        architecto nisi minima.orem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a, delectus maxime ipsum voluptatibus
        sapiente. Enim ut maxime velit reiciendis animi cum laudantium necessitatibus quos vel, alias, 
        architecto nisi minima.</p>
        <button class="btn btn-dark">Download</button>
    </div>
</div>