
<div class="container-fluid bg-dark mt-4 justify-content-center con">
    <div class="div">
        <h1 class="text-light pt-4">Skills</h1>
    </div> 
    <p class="text-light p-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quod, nostrum non esse,
        quis commodi officiis minima doloremque neque perferendis facere excepturi 
        voluptatem libero animi aut, nemo similique doloribus aliquam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a, delectus maxime ipsum voluptatibus
        sapiente. Enim ut maxime velit reiciendis animi cum laudantium necessitatibus quos vel, alias, 
        architecto nisi minima.orem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a, delectus maxime ipsum voluptatibus
        sapiente. Enim ut maxime velit reiciendis animi cum laudantium necessitatibus quos vel, alias, 
        architecto nisi minima.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quod, nostrum non esse,
        quis commodi officiis minima doloremque neque perferendis facere excepturi 
        voluptatem libero animi aut, nemo similique doloribus aliquam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a, delectus maxime ipsum voluptatibus
        sapiente. Enim ut maxime velit reiciendis animi cum laudantium necessitatibus quos vel, alias, 
        architecto nisi minima.orem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a, delectus maxime ipsum voluptatibus
        sapiente. Enim ut maxime velit reiciendis animi cum laudantium necessitatibus quos vel, alias, 
        architecto nisi minima.
    </p>
    <div class="row align-items-center justify-content-around">
        <div class="col-2">
            <h5 class="text-light p-4" id="border">
                MY FOCUS
            </h5>
            <h5 class="text-light">
                UI/UX Design
            </h5>
            <br>
            
            <h5 class="text-light">
                Responsive Design
            </h5>
            <br>
            <h5 class="text-light">
                Web Design
            </h5>
            <br>
            <h5 class="text-light">
                Mobile App Design
            </h5>
        </div>
        <div class="col-5">
                <div class="one">
                    <div class="three">
                        <p class="skill_p">HTML</p>
                    </div>
                    <div class="two">
                    </div>
                </div>
                <div class="one">
                    <div class="three">
                        <p class="skill_p">JavaScript</p>
                    </div>
                    <div class="two twwo">
                    </div>
                </div>
                <div class="one">
                    <div class="three">
                        <p class="skill_p">C++</p>
                    </div>
                    <div class="two twoo">
                    </div>
                </div>
                <div class="one">
                    <div class="three">
                        <p class="skill_p">SQL</p>
                    </div>
                    <div class="two ttwo">
                    </div>
                </div>
                <div class="one">
                    <div class="three">
                        <p class="skill_p">Node js</p>
                    </div>
                    <div class="two twwo">
                    </div>
                </div>
                <div class="one">
                    <div class="three">
                        <p class="skill_p">Angular</p>
                    </div>
                    <div class="two ttwo">
                    </div>
                </div>
        </div>
    </div>

</div>